<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "profile.jpg",
    width: 300,
    alt: "Profile Image"%>

  </div>
 
  
  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius a risus eu interdum. Integer a ante mauris.
    Aenean rutrum nisi nec leo vulputate sodales. Sed est arcu, ultrices vel sagittis sit amet, consequat ut enim.
    Vivamus interdum eget magna sed consectetur. Quisque feugiat efficitur nunc ac euismod. Sed in lectus sed leo facilisis vehicula ut semper eros.
    Fusce urna orci, dignissim nec orci sit amet, congue pretium lectus. Fusce mauris orci, feugiat sit amet pretium ac, aliquam ac libero.
    Donec aliquam tortor quis massa lacinia, vitae dignissim urna ornare. Phasellus finibus pretium metus, ut sagittis felis elementum tincidunt.
    Praesent orci lorem, euismod vel ante a, sagittis malesuada diam. Sed convallis orci magna, in egestas nisi suscipit eu.
    </p>
  </div>
</div>